@import "base";
@import "layout";
@import "modules/example";
@import "bootstrap/scss/bootstrap-grid";

.startimg {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.startimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.startbutton {
  position: absolute;
  bottom: 25%;
  left: 50%;
  transform: translateX(-50%);
}

.map {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.map img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.skip {
  position: fixed;
  right: 70px;
  top: 20px;
  background-color: black;
  color: white;
  padding: 15px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  font-size: 16px;
  text-align: center;
  width: 89px;
}

.gouziright {
  position: fixed;
  bottom: 91%;
  right: 50px;
}

.gouziright img {
  height: 60px;
}

.gouzileft {
  position: fixed;
  bottom: 91%;
  right: 150px;
}

.gouzileft img {
  height: 60px;
}

.ysa {
  position: absolute;
  bottom: 50px;
  width: 80%;
  left: 10%;
}

.ysa img {
  height: 175px;
  bottom: 40px;
}

.imgchoices {
  z-index: 2;
  width: 555px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 16%;
}

.button-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 555px;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  top: 67.2%;
}

.choice-button {
  background-color: black;
  color: white;
  padding: 14px;
  border: none;
  font-size: 16px;
  text-align: center;
}

.timeline {
  border: none;
  border-top: 3.5px solid black; /* Ligne noire fine */
  position: absolute;
  width: 80%; /* Ajuste la largeur selon tes besoins */
  bottom: 50px;
  left: 10%;
}

.timeline::before,
.timeline::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(45deg); /* Rotation pour créer un losange */
  width: 10px; /* Taille du losange */
  height: 10px;
  background-color: black; /* Couleur du losange */
}

.timeline::before {
  left: 0; /* Positionne à gauche */
}

.timeline::after {
  right: 0; /* Positionne à droite */
}

.timeline hr {
  border: none;
}

.global {
  position: relative;
}

a {
  text-decoration: none;
}

.description {
  margin-bottom: 50px;
  color: #000;
  font-family: Avenir;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.author {
  color: rgba(0, 0, 0, 0.59);
  font-family: Avenir;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 20px;
}

.order-btn {
  display: inline-block;
  background-color: black;
  color: white;
  padding: 10px 30px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 30px;
  border: none;
  font-size: 1em;
  left: 50%;
  transform: translateX(-0%);
  width: 414px;
  text-align: center;
  color: #fff;
  text-align: center;
  font-family: "Inknut Antiqua";
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.restart {
  margin-top: 15px;
  font-size: 1em;
  text-align: center;
}

.restart a {
  text-decoration: underline;
  color: #000;
  font-family: "Inknut Antiqua";
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.66px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
}

.ou {
  text-align: center;
  color: #000;
  font-family: "Inknut Antiqua";
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.66px;
}

.end-screen-infos {
  color: #4a4343;
  font-family: Avenir;
  font-size: 16px;
  font-style: normal;
  line-height: 32px;
  padding-top: 2.5px;
}

h1 {
  color: #000;
  font-family: "Inknut Antiqua";
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.8px;
  margin-top: -53px;
}

.end {
  padding-top: 59px;
  padding-bottom: 50px;
}
